@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range]::-webkit-slider-thumb {
  width: 36px;
  height: 36px;
  background-color: orange;
  border: 1px solid black;
  border-radius: 100px;
  -webkit-appearance: none;
  ;
}